# mdBooks
# book

# Compiled files
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# Executables
bin/
out/

# Object files
obj/

# Compiled headers
*.gch

# Libraries
lib/

# Temporary files
*.swp
*~

# Visual Studio Code specific files
.vscode/

# Xcode specific files
*.xcworkspace
*.xcuserdatad
*.xcproj/

# JetBrains specific files
.idea/
*.iml

# CMake build directory
CMakeFiles/
CMakeScripts/
CMakeCache.txt

# Custom build output directory
build/

# Ignore user-specific project settings
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Unity build directory
Library/
Temp/
Obj/
UnityGenerated/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

